.iletisim_h1
{
	color:white;
	font-family: 'Playfair Display', serif;
	font-size:30px;
	line-height:50px;
}
.form_yazi
{
	font-size:15px;
	font-family: 'Raleway', sans-serif;
	color:black;
}
.form_input
{
	border:none !important;
	background:none !important;
	border-bottom:1px solid #af9453 !important;
	border-radius:0px !important;
	color:black !important;
	font-family: 'Raleway', sans-serif !important;
	text-indent:5px !important;
}
.form_input:hover
{
	border:1px solid #af9453 !important;
}
.form_input:focus
{
	box-shadow:none !important;
	outline:none !important;
	background:none !important;
}
.form-control::placeholder
{
	font-size:14px;
	color:#c3c3c3 !important;
}
.btn-light
{
	border:0px !important;
	border-radius:0px !important;
	background:none !important;
	color:#af9453 !important;
	font-family: 'Rubik', sans-serif;
	width:100%;
	height:60px;
	transition: 0.3s;
}
.btn-light:hover
{
	background-color:#fbfbfb !important;
	border:0px !important;
}